@media screen and (max-width: 1440px) {
  .we_do::after,
  .we_do::before,
  .group1::after,
  .group2::after,
  .group3::after,
  .reviews__content::after {
    display: none;
  }
  .we_do {
    flex-direction: column;
    margin: 10rem auto 5rem;
  }
  .we_do > h2 {
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .group1,
  .group2,
  .group3 {
    left: 0;
    position: static;
    margin-bottom: 5rem;
  }
  .groups {
    margin: 0 auto;
  }
  .how {
    padding: 7rem 200px;
  }
}
/* --------------------------- 1000 ----------------------------- */
@media screen and (max-width: 1000px) {
  html {
    font-size: 8px;
  }
  .header__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-areas:
      "text"
      "img"
      "buttons";
  }
  .left {
    grid-area: text;
    display: block;
    padding-right: 1.5rem;
  }
  .right {
    grid-area: img;
    min-height: 300px;
  }
  .header__buttons {
    grid-area: buttons;
  }
  .header__buttons {
    display: none;
  }
  .header__buttons_bot {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .how {
    padding: 7rem 50px;
  }
  .reviews__container {
    margin: 50px 0 50px;
  }
  .reviews__content {
    gap: 0 20px;
  }
  .avatar__wraper,
  .review__wraper {
    width: 50%;
  }
}
/* --------------------------- BURGER MENU --------------------------- */
@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
  .header__content {
    margin: 0;
    padding: 15px;
  }
  .burger-lable {
    position: relative;
    top: -10px;
    display: block;
    width: 40px;
    height: 40px;
    color: var(--main-blue-color);
    cursor: pointer;
  }
  .burger-lable::after {
    content: "☰";
    font-size: 45px;
    width: 40px;
    height: 40px;
  }
  .menu__list,
  #burger {
    display: none;
  }
  #burger:checked ~ .menu__list {
    display: block;
    line-height: 50px;
    flex-direction: column;
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #deecf7;
    font-size: 3rem;
  }
  #burger:checked ~ .burger-lable::after {
    content: "✖";
  }
  .menu__link {
    padding: 15px;
    text-align: center;
    border-top: 2px dotted var(--main-blue-color);
  }
  .menu__link:hover {
    background-color: rgba(95, 180, 236, 0.384);
  }
  .left h1 {
    line-height: 6rem;
  }
  .we_do {
    padding: 0;
  }
  .we_do > h2 {
    padding: 0 10px;
  }
  .steps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .step {
    max-width: 100%;
  }
  .reviews__content {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
  }
  .review__text {
    max-width: 100%;
  }
  .reviev_quote {
    margin-bottom: 4rem;
  }
  .review__autor{
    margin-bottom: 2rem;
  }
  .reviews__buttons {
    position: static;
    margin: 0 auto;
  }
  .avatar__wraper,
  .review__wraper {
    width: 100%;
  }
}
