@font-face {
  font-family: "Objective";
  src: url("./assets/font/Objective-Regular.otf");
  font-weight: 400; /* Normal - Regular */
}
@font-face {
  font-family: "Objective";
  src: url("./assets/font/Objective-Medium.otf");
  font-weight: 500; /* Medium */
}
@font-face {
  font-family: "Objective";
  src: url("./assets/font/Objective-Bold.otf");
  font-weight: 700; /* Bold */
}
:root {
  --main-text-color: rgba(38, 0, 65, 1);
  --main-blue-color: rgba(74, 153, 211, 1);
  --secondary-text-color: rgba(15, 0, 26, 1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: "Objective";
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--main-text-color);
}
.header {
  position: relative;
  background: linear-gradient(180deg, rgba(74, 153, 211, 0.2), rgba(74, 153, 211, 0)),
    rgb(255, 255, 255);
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.1);
}
.header__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 4.5rem;
  line-height: 4.2rem;
  max-width: 950px;
}
.header .logo {
  margin-right: 2rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-blue-color);
}
#burger {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  width: 312px;
  display: flex;
  justify-content: space-between;
  line-height: 1.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.menu__link {
  display: block;
  width: 100%;
  height: 100%;
}
.menu__link__active {
  color: var(--main-blue-color);
  font-weight: 500;
}

/* CONTENT */
.header__content {
  max-width: 1110px;
  margin-top: 7rem;
  margin-left: max(15px, calc((100% - 950px) / 2));
  display: grid;
  grid-template-columns: 1.3fr minmax(342px, 0.7fr);
  grid-template-rows: 1fr;
}
.left {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "text"
    "buttons";
  grid-area: 2 / 1 / 3 / 2;
}
.left h1 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 7rem;
  letter-spacing: 0.02em;
}
.left__content {
  justify-self: stretch;
  grid-area: text;
}
.header__text {
  margin-top: 1.4rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.6rem;
  color: var(--main-text-color);
}
.header__buttons {
  /* justify-self: start; */
  align-self: end;
  grid-area: buttons;
  width: 380px;
  height: 60px;
  margin: 6rem 0 9rem;
  display: flex;
  justify-content: space-between;
}
.header__buttons_bot {
  margin: 2rem 0 4rem;
}

.right {
  justify-self: center;
  align-self: center;
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  min-height: 100%;
  background-image: url(./assets/mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 440px;
}
.header__buttons_bot {
  display: none;
}
.header__buttons button,
.header__buttons_bot button {
  width: 180px;
  height: 60px;
  border: 0;
  border-radius: 5px;
  background: var(--main-blue-color);
}
.header__buttons .google,
.header__buttons_bot .google {
  background-image: url("./assets/playstore.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.header__buttons .apple,
.header__buttons_bot .apple {
  background-image: url("./assets/appstore.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/******************** WE DO *******************/
/******************** WE DO *******************/
/******************** WE DO *******************/
.we_do {
  max-width: 950px;
  padding: 0 15px;
  margin: 15rem auto 15rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.we_do::after {
  content: "";
  position: absolute;
  left: -270px;
  bottom: -150px;
  z-index: -1;
  width: 255px;
  height: 200px;
  background-image: url(./assets/download/right-orange.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.we_do::before {
  content: "";
  position: absolute;
  top: -150px;
  right: -230px;
  z-index: -1;
  width: 200px;
  height: 200px;
  background-image: url(./assets/wedo/right-blue.png);
  background-repeat: no-repeat;
  background-position: center;
}

.we_do > h2 {
  max-width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4.6rem;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}
.group {
  max-width: 380px;
  /* height: 525px; */
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: 10px;
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.group h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 1.6rem;
}
.group > p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  opacity: 0.6;
}
.group button {
  width: 127px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 0;
  background-color: transparent;
}
.group button > p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3.0rem;
  color: var(--main-blue-color);
}
.group button > img {
  padding-right: 0.4rem;
}
.group1 {
  margin-bottom: 110px;
  position: relative;
}
.group1::after {
  content: "";
  background-image: url(./assets/wedo/dots.png);
  width: 155px;
  height: 155px;
  position: absolute;
  top: -75px;
  right: -80px;
  z-index: -1;
}
.group2 {
  position: absolute;
  top: 25%;
  left: 85px;
}
.group2::after {
  content: "";
  background-image: url(./assets/wedo/dots.png);
  width: 155px;
  height: 155px;
  position: absolute;
  top: 235px;
  left: -110px;
  z-index: -1;
}
.group3 {
  position: relative;
}
.group3::after {
  content: "";
  background-image: url(./assets/wedo/dots.png);
  width: 155px;
  height: 155px;
  position: absolute;
  bottom: -75px;
  right: -80px;
  z-index: -1;
}

/******************** HOW *******************/
/******************** HOW *******************/
/******************** HOW *******************/
.how {
  background: rgba(74, 153, 211, 0.1);
  padding: 7rem 0;
}

.how__container {
  /* max-width: 950px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.how__title {
  color: var(--main-blue-color);
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.7rem;
  text-align: center;
  margin-bottom: 3.0rem;
}
.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.24rem, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.step {
  color: var(--secondary-text-color);
  max-width: 224px;
  text-align: center;
  justify-self: center;
}
.step__logo {
  margin: 30px 0;
}
.step__title {
  font-weight: 700;
  line-height: 1.9rem;
  margin-bottom: 10px;
}
.step__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
/******************** reviews *******************/
/******************** reviews *******************/
/******************** reviews *******************/
.reviews {
  position: relative;
  max-width: 1195px;
  margin: 0 auto;
}
.reviews__container {
  position: relative;

  margin: 150px 0 120px;
  padding-top: 40px;
}
.reviews__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  font-weight: 800;
  font-size: 1.44em;
  line-height: 27px;
  text-align: center;
  color: var(--secondary-text-color);
}
.reviews__content {
  display: flex;
  gap: 0 100px;
  justify-content: space-between;
}
.reviews__content::after {
  content: "";
  position: absolute;
  bottom: 230px;
  right: -160px;
  z-index: -1;
  width: 155px;
  height: 155px;
  background-image: url(./assets/wedo/dots.png);
}
.avatar__wraper {
  width: 60%;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}
.avatar__wraper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 677px;
  width: 100%;
  height: 400px;
  background: rgba(74, 153, 211, 0.1);
  border-radius: 0px 6px 6px 0px;
  z-index: -1;
}
.avatar__wraper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-items: center;
}

.review__wraper {
  width: 40%;
  align-self: center;
}
.reviev_quote {
  margin-bottom: 40px;
}
.review__text {
  max-width: 420px;
  margin-bottom: 40px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 0.88em;
  line-height: 24px;
  color: var(--secondary-text-color);
  opacity: 0.5;
}
.review__autor {
  font-weight: 500;
  line-height: 19px;
  font-size: 1em;
  color: var(--secondary-text-color);
}

.reviews__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 162px;
  height: 80px;
  display: flex;
}
.review__btn {
  width: 80px;
  height: 80px;
  border: 0;
  padding: 20px;
}
.btn-back {
  background: var(--main-blue-color);
  border-radius: 4px 0px 0px 4px;
  background-image: url("./assets/reviews/arrow-left-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.btn-forvard {
  background-color: #ffffff;

  background-image: url("./assets/reviews/arrow-right-blue.svg");
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
/******************** download *******************/
/******************** download *******************/
/******************** download *******************/
.download {
  max-width: 1028px;
  margin: 0 auto;
}
.download_container {
  display: flex;
  margin: 100px 0 120px;
}
.download__logo {
  width: 50%;
  min-height: 458px;
}
.download__logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-items: center;
}
.download_content {
  width: 50%;
  align-self: center;
  text-align: center;
  color: var(--secondary-text-color);
}
.download__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
}
.download__text {
  max-width: 444px;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
}
.download__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 380px;
  height: 60px;
}
.download__buttons button {
  width: 180px;
  height: 60px;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.download__buttons .google {
  background-image: url("./assets/download/google.svg");
}
.download__buttons .apple {
  background-image: url("./assets/download/apple.svg");
}
/******************** footer *******************/
/******************** footer *******************/
/******************** footer *******************/
.footer {
  position: relative;
  max-width: 100%;
  padding-top: 55px;
  color: white;
  background-color: var(--main-blue-color);
}
.footer::before {
  content: "";
  position: absolute;
  top: -150px;
  right: 0;
  z-index: -1;
  width: 255px;
  height: 200px;
  background-image: url(./assets/download/right-orange.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer::after {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  z-index: -1;
  width: 255px;
  height: 200px;
  background-image: url(./assets/download/left-blue.png);
  background-repeat: no-repeat;
  background-position: center;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.footer__logo {
  display: block;
  height: 35px;
  margin-right: 75px;
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
  text-transform: uppercase;
}
.links__title {
  padding-bottom: 2px;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  border-bottom: 1px solid white;
}
.list__item {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 14px;
}
.newsletter {
  max-width: 394px;
}
.newsletter__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.newsletter__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
}
.newsletter__form input {
  width: 69%;
  height: 50px;
  padding: 18px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  background: #ffffff;
  border-radius: 3px;
  border: 0;
}
.newsletter__form button {
  width: 29%;
  min-width: 115px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: var(--main-blue-color);
  background: #ffffff;
  border: 0;
  border-radius: 3px;
}

.footer__bottomn {
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
}
.bottomn__container {
  display: flex;
  justify-content: space-between;
  max-height: 16px;
  align-items: center;
}
.footer__socials {
  max-width: 134px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__socials li > a {
  display: block;
  height: 16px;
}
.youtube {
  width: 23px;
  background-image: url("./assets/footer/youtube.svg");
}
.instagram {
  width: 16px;
  background-image: url("./assets/footer/instagram.svg");
}
.facebook {
  width: 8px;
  background-image: url("./assets/footer/facebook.svg");
}
.twitter {
  width: 20px;
  background-image: url("./assets/footer/twitter.svg");
}
