@font-face {
  font-family: "Objective";
  src: url("./assets/font/Objective-Regular.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Objective";
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(38, 0, 65, 1);
}
.header {
  position: relative;
  background: linear-gradient(180deg, rgba(74, 153, 211, 0.2), rgba(74, 153, 211, 0)), #ffffff;
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
  min-height: 765px;
}
.header__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  line-height: 42px;
}
.header .logo {
  margin-right: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4a99d3;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  width: 312px;
  display: flex;
  justify-content: space-between;
  line-height: 19px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #0f001a;
}
.menu__link__active {
  color: #4a99d3;
  font-weight: 500;
}
/* CONTENT */
.header__content {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  display: flex;
  padding-left: max(15px, calc((100% - 950px) / 2));
}

.left {
  position: relative;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  max-width: 650px;
}
.left h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.02em;
  color: #260041;
}

.right {
  width: 35%;
  background-image: url(./assets/mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  /* max-height: 540px; */
}
.header__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #260041;
  margin: 14px 0 0;
}
.header__buttons {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 380px;
  height: 60px;
  margin-bottom: 90px;
}
.header__buttons button {
  width: 180px;
  height: 60px;
  border: 0;
  background: #4a99d3;
  border-radius: 5px;
}
.header__buttons .google {
  background-image: url("./assets/playstore.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.header__buttons .apple {
  background-image: url("./assets/appstore.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 777px) {
  .right {
    width: 0px;
  }
  .left {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
  }
  .header {
    min-height: 700px;
  }
  .header__content {
    padding: 0px;
  }
  .header__buttons {
    align-self: center;
  }
}

/* main__container */
/* .main__container {
  background-color: rgba(189, 185, 185, 0.199);
  width: 950px;
  height: 1175px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.main__container .text {
  max-width: 85px;
}
.text h2 {
  width: 400px;
  font-family: "Objective";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #260041;
}
.main__container .groups {
  max-width: 100%;
  height: 100%;
  background-color: rgba(47, 100, 37, 0.199);
} */
