html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  --main-color: rgb(245, 221, 11);
}
.container{
  background-color: rgb(69, 57, 180);
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.animation{
  padding: 20px;
  background-color: rgb(113, 100, 235);
  height: 160px;
  flex-grow: 1;
  align-self: center;
  padding-left: 20px;
  position: relative;
}
.pacman {
  position: relative;
  width: 160px;
  height: 160px;
}

.pacman:before, .pacman:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 80px solid var(--main-color);
  border-radius: 50%;
  border-right: 80px solid transparent;
  animation: pacmanUp linear 1s infinite;
}

.pacman:after {
  animation: pacmanDown linear 1s infinite;
}

@keyframes pacmanUp {
  0% {transform: rotate(270deg);}
  50% {transform: rotate(360deg);}
  100% {transform: rotate(270deg);}
}

@keyframes pacmanDown {
  0% {transform: rotate(90deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}
.circle{
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 90px;
}

.circle-1 {
  left: 240px;
  animation: fly1 linear 1s infinite;
}
@keyframes fly1 {
  0% {left:240px;}
  100% {left:140px;}
}

.circle-2 {
  left: 340px;
  animation: fly2 linear 1s infinite;
}
@keyframes fly2 {
  0% {left:340px;}
  100% {left:240px;}
}

.circle-3 {
  left: 440px;
  animation: fly3 linear 1s infinite;
}
@keyframes fly3 {
  0% {left:440px;}
  100% {left:340px;}
}

.circle-4 {
  left: 540px;
  width: 20px;
  animation: fly4 linear 1s infinite;
}
@keyframes fly4 {
  0% {left:540px;}
  100% {left:440px;}
}
