          /* GRID VERISON */
html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav main links"
    "footer footer footer";
  grid-template-rows: 65px 1fr 65px;
  grid-template-columns: 20% 1fr 15%;
  height: 100%;
}
header{
  background-color: rgb(16, 76, 124);
  grid-area: header;
  padding: 20px 0;
  color: white;
}
.content{
}
nav{
  background-color: rgb(221, 126, 36);
  grid-area: nav;
}
main{
  background-color: rgb(101, 178, 230);
  grid-area: main;
}
.links{
  background-color: rgb(177, 9, 112);
  grid-area: links;
}
footer{
  background-color: rgb(27, 105, 11);
  grid-area: footer;
  padding: 20px 0;
  color: white
}
.text{
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
  padding-left: 20px;
}

.grid{
  text-align: center;
  color: white;
  font-size: 40px;
}

@media only screen and (max-width: 800px) {
  .container{
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "links"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 65px 65px 1fr 65px 65px;
    height: 100%;
    width: 100%;
  }
  header{
    grid-area: header;
  }
  nav{
    grid-area: nav;
    text-align: left;
    padding-left: 20px;
  }
  main{
    grid-area: main;
    text-align: left;
  }
  main p{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .links{
    grid-area: links;
    text-align: left;
    padding-left: 20px;
  }
  footer{
    grid-area: footer;
  }
} 